<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>错误指向指向页面</title>
  <head th:include="/common/pub_head :: default"></head>
  <head th:include="/common/pub_head :: popDivWin"></head>
  <link th:href="@{/css/css.css}" rel="stylesheet" type="text/css"/>
  <script th:src="@{/js/ui.js}"></script>
</head>
<body>
<div class="conpage errorpage " style="padding: 50px 20px 0 20px;">
  <img th:src="@{/images/error-icon.png}"/>
  <div class="error-con">
    <h1 class="error-title">您访问的地址有错误!</h1>
  </div>
</div>
</body>
</html>