<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>异常页面</title>
  <head th:include="/common/pub_head :: default"></head>
  <head th:include="/common/pub_head :: popDivWin"></head>
  <link th:href="@{/css/css.css}" rel="stylesheet" type="text/css"/>
  <script th:src="@{/js/ui.js}"></script>
</head>
<body>
  <div class="conpage errorpage" style="padding: 50px 20px 40px 20px;">
    <img th:src="@{/images/error-icon.png}" />
    <div class="error-con">
      <h1 class="error-title">很抱歉 你的访问出错了！！！</h1>
      <p>

      </p>
      <div class="errot-btn col-xs-wap">
					<span class="col-xs-6 ">
						<a id="syntaxerror-s" class="btn-uline"
               style="cursor: pointer">查看详细信息</a></span>
        <span class="col-xs-6 tr">
						<a href="javascript: history.go(-1);" style="margin-top: 5px;" class="btn btn-submit">返回</a>
					</span>
      </div>
    </div>
    <div class="syntaxerror" style="padding-top: 30px;">
      <pre><th:block th:text="${clazz}"></th:block><br/><th:block th:each="e: ${exception}">    <th:block th:text="${e}"></th:block><br /></th:block></pre>
    </div>
  </div>
</body>
</html>